<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.edu.javeriana.bikewars">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB3Q4SmbmfSgJFfqQXnQuKWaJ5IzOh3WjI" />

        <activity android:name=".LoginView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NewUserView" />
        <activity android:name=".MainView" />
        <activity android:name=".ConfigView" />
        <activity android:name=".ProfileView" />
        <activity
            android:name=".RouteLobbyView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewRouteView"
            android:screenOrientation="portrait" />
        <activity android:name=".SelectionView" />
        <activity android:name=".HistoricView" />
        <activity android:name=".SearchView" />
        <activity android:name=".ShareView" />
        <activity android:name=".FriendsLobby" />
        <activity android:name=".NewGroupView" />
        <activity android:name=".SearchFriendsView" />
        <activity android:name=".ChatView" />
        <activity android:name=".SocialView" />
        <activity android:name=".RaceView" />
        <activity android:name=".NewRaceView" />
        <activity android:name=".ExpectView" />

        <service android:name=".Services.MailBox" />

        <activity android:name=".NewMarker" />
        <activity android:name=".NewCommercialMarker"></activity>
    </application>

</manifest>